/* フッター */
/* 仕切り部分 */
.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

/* SNSアイコン */
.follow-me {
  list-style: none;
  margin: 0 0 -8px;
  overflow: hidden;
  padding: 0;
}

.follow-me li {
  float: left;
  margin: 0 8px 8px 0;
  padding: 0;
}

.follow-me li a::before {
  background-color: #eee;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #333;
  display: inline-block;
  font-family: FontAwesome;
  font-size: 24px;
  height: 44px;
  /* Button height */
  line-height: 44px;
  /* Button height */
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-align: center;
  width: 44px;
  /* Button width */
}

.follow-me li a:hover::before {
  color: #fff;
}

.follow-me li a[href*="amazon.co.jp"]::before,
.follow-me li a[href*="amazon.com"]::before {
  content: "\f270";
}

.follow-me li a[href*="codepen.io"]::before {
  content: "\f1cb";
}

.follow-me li a[href*="delicious.com"]::before {
  content: "\f1a5";
}

.follow-me li a[href*="deviantart.com"]::before {
  content: "\f1bd";
}

.follow-me li a[href*="digg.com"]::before {
  content: "\f1a6";
}

.follow-me li a[href*="dribble.com"]::before {
  content: "\f17d";
}

.follow-me li a[href*="dropbox.com"]::before {
  content: "\f16b";
}

.follow-me li a[href*="facebook.com"]::before {
  content: "\f09a";
}

.follow-me li a[href*="feedly.com"]::before {
  content: "\f09e";
}

.follow-me li a[href*="flickr.com"]::before {
  content: "\f16e";
}

.follow-me li a[href*="foursquare.com"]::before {
  content: "\f180";
}

.follow-me li a[href*="github.com"]::before {
  content: "\f09b";
}

.follow-me li a[href*="plus.google.com"]::before {
  content: "\f0d5";
}

.follow-me li a[href*="b.hatena.ne.jp"]::before {
  content: "\f027";
  font-family: blogicon;
}

.follow-me li a[href*="instagram.com"]::before {
  content: "\f16d";
}

.follow-me li a[href*="last.fm"]::before {
  content: "\f202";
}

.follow-me li a[href*="linkedin.com"]::before {
  content: "\f0e1";
}

.follow-me li a[href*="nicovideo.jp"]::before {
  content: "\f047";
  font-family: blogicon;
}

.follow-me li a[href*="pinterest.com"]::before {
  content: "\f0d2";
}

.follow-me li a[href*="getpocket.com"]::before {
  content: "\f265";
}

.follow-me li a[href*="reddit.com"]::before {
  content: "\f1a1";
}

.follow-me li a[href*="skype.com"]::before,
.follow-me li a[href*="skype:"]::before {
  content: "\f17e";
}

.follow-me li a[href*="slideshare.net"]::before {
  content: "\f1e7";
}

.follow-me li a[href*="spotify.com"]::before {
  content: "\f1bc";
}

.follow-me li a[href*="steamcommunity.com"]::before {
  content: "\f1b6";
}

.follow-me li a[href*="stumbleupon.com"]::before {
  content: "\f1a4";
}

.follow-me li a[href*="tumblr.com"]::before {
  content: "\f173";
}

.follow-me li a[href*="twitch.tv"]::before {
  content: "\f1e8";
}

.follow-me li a[href*="twitter.com"]::before {
  content: "\f099";
}

.follow-me li a[href*="vimeo.com"]::before {
  content: "\f27d";
}

.follow-me li a[href*="vine.co"]::before {
  content: "\f1ca";
}

.follow-me li a[href*="weibo.com"]::before {
  content: "\f18a";
}

.follow-me li a[href*="whatsapp.com"]::before {
  content: "\f232";
}

.follow-me li a[href*="wordpress.com"]::before,
.follow-me li a[href*="wordpress.org"]::before {
  content: "\f19a";
}

.follow-me li a[href*="youtube.com"]::before {
  content: "\f16a";
}

.follow-me li a[href$="/feed"]::before {
  content: "\f09e";
}

.follow-me li a[href$="/subscribe"]::before {
  content: "\f000";
  font-family: blogicon;
}

.follow-me li a[href*="amazon.co.jp"]:hover::before,
.follow-me li a[href*="amazon.com"]:hover::before {
  background-color: #ff9900;
}

.follow-me li a[href*="codepen.io"]:hover::before {
  background-color: #000000;
}

.follow-me li a[href*="delicious.com"]:hover::before {
  background-color: #3399ff;
}

.follow-me li a[href*="deviantart.com"]:hover::before {
  background-color: #05cc47;
}

.follow-me li a[href*="digg.com"]:hover::before {
  background-color: #000000;
}

.follow-me li a[href*="dribble.com"]:hover::before {
  background-color: #ea4c89;
}

.follow-me li a[href*="dropbox.com"]:hover::before {
  background-color: #007ee5;
}

.follow-me li a[href*="facebook.com"]:hover::before {
  background-color: #3b5998;
}

.follow-me li a[href*="feedly.com"]:hover::before {
  background-color: #6cc655;
}

.follow-me li a[href*="flickr.com"]:hover::before {
  background-color: #0063dc;
}

.follow-me li a[href*="foursquare.com"]:hover::before {
  background-color: #f94877;
}

.follow-me li a[href*="github.com"]:hover::before {
  background-color: #181717;
}

.follow-me li a[href*="plus.google.com"]:hover::before {
  background-color: #dc4e41;
}

.follow-me li a[href*="b.hatena.ne.jp"]:hover::before {
  background-color: #008fde;
}

.follow-me li a[href*="instagram.com"]:hover::before {
  background-color: #125688;
}

.follow-me li a[href*="last.fm"]:hover::before {
  background-color: #d51007;
}

.follow-me li a[href*="linkedin.com"]:hover::before {
  background-color: #0077b5;
}

.follow-me li a[href*="nicovideo.jp"]:hover::before {
  background-color: #eaeaea;
}

.follow-me li a[href*="pinterest.com"]:hover::before {
  background-color: #bd081c;
}

.follow-me li a[href*="getpocket.com"]:hover::before {
  background-color: #ef3f56;
}

.follow-me li a[href*="reddit.com"]:hover::before {
  background-color: #ff4500;
}

.follow-me li a[href*="skype.com"]:hover::before,
.follow-me li a[href*="skype:"]:hover::before {
  background-color: #00aff0;
}

.follow-me li a[href*="slideshare.net"]:hover::before {
  background-color: #2d2d2d;
}

.follow-me li a[href*="spotify.com"]:hover::before {
  background-color: #84bd00;
}

.follow-me li a[href*="steamcommunity.com"]:hover::before {
  background-color: #171a21;
}

.follow-me li a[href*="stumbleupon.com"]:hover::before {
  background-color: #eb4929;
}

.follow-me li a[href*="tumblr.com"]:hover::before {
  background-color: #36465d;
}

.follow-me li a[href*="twitch.tv"]:hover::before {
  background-color: #6441a5;
}

.follow-me li a[href*="twitter.com"]:hover::before {
  background-color: #55acee;
}

.follow-me li a[href*="vimeo.com"]:hover::before {
  background-color: #1ab7ea;
}

.follow-me li a[href*="vine.co"]:hover::before {
  background-color: #11b58a;
}

.follow-me li a[href*="weibo.com"]:hover::before {
  background-color: #e6162d;
}

.follow-me li a[href*="whatsapp.com"]:hover::before {
  background-color: #64d548;
}

.follow-me li a[href*="wordpress.com"]:hover::before,
.follow-me li a[href*="wordpress.org"]:hover::before {
  background-color: #21759b;
}

.follow-me li a[href*="youtube.com"]:hover::before {
  background-color: #cd201f;
}

.follow-me li a[href$="/feed"]:hover::before {
  background-color: #ffa500;
}

.follow-me li a[href$="/subscribe"]:hover::before {
  background-color: #363636;
}
