#formWrap {
  margin: 0 auto;
  line-height: 120%;
  font-size: 100%;
}

table.formTable {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
}

table.formTable td,
table.formTable th {
  border: 1px solid #ccc;
  padding: 10px;
}

table.formTable th {
  width: 30%;
  font-weight: normal;
  background: #efefef;
  text-align: left;
}

/*　簡易版レスポンシブ用CSS（必要最低限のみとしています。ブレークポイントも含め自由に設定下さい）　*/
@media screen and (max-width:572px) {
  #formWrap {
    width: 100%;
    margin: 0 auto;
  }

  table.formTable th,
  table.formTable td {
    width: auto;
    display: block;
  }

  table.formTable th {
    margin-top: 5px;
    border-bottom: 0;
  }

  input[type="text"],
  textarea {
    width: 100%;
    padding: 5px;
    display: block;
  }

  input[type="submit"],
  input[type="reset"],
  input[type="button"] {
    display: block;
    width: 100%;
    height: 40px;
  }
}

/* --- INPUT=TEXTAREAの標準デザイン設定 ---------------------*/
.inTextArea {
  box-sizing: border-box;
  margin: 0;
  vertical-align: top;
  width: 80%;
  /* 一旦100%幅     */
  max-width: 100%;
  /* 入力域の最大幅 */
  height: 100px;
  /* 入力域の高さ   */
  background: #ffffff;
  /* 入力域の背景色 */
  border: 2px solid #1e6bb9;
  /* 入力域の枠線   */
  border-radius: 4px;
  /* 入力域の角丸   */
  padding: 0 10px;
  /* 入力文字の余白 */
  color: #333333;
  /* 入力文字の色   */
  font-weight: bold;
  /* 入力文字の太字 */
  letter-spacing: .1em;
  /* 入力文字の間隔 */
}

/* --- INPUT=TEXTの標準デザイン設定 ---------------------*/
.inTextReport {
  box-sizing: border-box;
  margin: 0;
  vertical-align: top;
  width: 80%;
  /* 一旦100%幅     */
  max-width: 100%;
  /* 入力域の最大幅 */
  height: 45px;
  /* 入力域の高さ   */
  background: #ffffff;
  /* 入力域の背景色 */
  border: 2px solid #1e6bb9;
  /* 入力域の枠線   */
  border-radius: 4px;
  /* 入力域の角丸   */
  padding: 0 10px;
  /* 入力文字の余白 */
  color: #333333;
  /* 入力文字の色   */
  font-weight: bold;
  /* 入力文字の太字 */
  letter-spacing: .1em;
  /* 入力文字の間隔 */
}
