/* INPUT=TEXTの標準デザイン設定 */
.inText {
  box-sizing: border-box;
  margin: 0;
  vertical-align: top;
  width: 100%; /* 一旦100%幅     */
  height: 47px; /* 入力域の高さ   */
  background: #ffffff; /* 入力域の背景色 */
  border: 2px solid #1e6bb9; /* 入力域の枠線   */
  border-radius: 4px; /* 入力域の角丸   */
  padding: 0 10px; /* 入力文字の余白 */
  font-size: 26px; /* 入力文字サイズ */
  color: #333333; /* 入力文字の色   */
  font-weight: bold; /* 入力文字の太字 */
  letter-spacing: 0.1em; /* 入力文字の間隔 */
}

/* 入力フィールドにフォーカスか来たら */
.inText:focus {
  border-color: #59b300; /* 枠線色     */
  background: rgba(89, 179, 0, 0.2); /* 背景色     */
  box-shadow: 4px 4px 2px #999; /* 影付け     */
  outline: 0;
}

/* 入力説明の文字（標準） */
.inText:placeholder-shown {
  color: #808080; /* 文字色     */
  font-size: 14px; /* 少し小さく */
}

/* 入力説明の文字（Chrome,Safari,Android,iOS等） */
.inText::-webkit-input-placeholder {
  color: #808080; /* 文字色     */
  font-size: 14px; /* 少し小さく */
}

@media screen and (min-width: 576px) {
  .inText {
    max-width: 70%; /* 入力域の最大幅 */
  }
}
