/* テキスト中央揃え */
body {
  text-align: center;
}

/* フォント */
p,
a,
li,
th,
tr,
td,
input,
textarea {
  font-family: 'Sawarabi Gothic', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'RocknRoll One', sans-serif;
}

/* 区切り線 */
hr {
  position: relative;
  height: 10px;
  border-width: 100%;
  background-color: #00bcd4;
  background-image: -webkit-linear-gradient(
    left,
    #00bcd4 0%,
    #283593 50%,
    #00bcd4 100%
  );
  background-image: linear-gradient(
    90deg,
    #00bcd4 0%,
    #283593 50%,
    #00bcd4 100%
  );
}

/* ナビゲーションとコンテンツが重ならないように */
body {
  padding-top: 100px;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

#navbar {
  background-color: #fa8bff;
  background-image: linear-gradient(
    45deg,
    #fa8bff 0%,
    #2bd2ff 52%,
    #2bff88 90%
  );
}

#back-fade {
  opacity: 0;
  background-color: black;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1010;
  transition: all 0.5s ease;
}

#back-fade.show {
  opacity: 0.5;
  visibility: visible;
}

/* テキスト・画像の配置調節 */
.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex_txt {
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

.flex_img {
  width: 25%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

body > div.flex {
  padding: 5px 10px !important;
}

hr#bigdiv {
  margin-top: 60px;
}

@media screen and (max-width: 348px) {
  a.navbar-brand img {
    height: 35px;
  }
}

/* @media screen and (min-width: 1600px) {
  html {
    font-size: 18px;
  }
} */

@media screen and (max-width: 576px) {
  body > div.flex div.flex_img {
    display: none;
  }
}
