blockquote {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 5px 10px 5px 32px;
  box-sizing: border-box;
  font-style: italic;
  background: #f3f3f3;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
}

blockquote:before {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: -15px;
  width: 40px;
  height: 30px;
  text-align: center;
  content: "\f10d";
  font-family: FontAwesome;
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  background: #92e3a9;
  box-shadow: 0 2px 2px rgba(26, 26, 26, 0.14);
  font-weight: 900;
}

blockquote:after {
  position: absolute;
  content: "";
  top: 40px;
  left: -15px;
  border: none;
  border-bottom: solid 8px transparent;
  border-right: solid 15px #629972;
}

blockquote p {
  position: relative;
  padding: 0;
  margin: 10px 0;
  z-index: 3;
  line-height: 1.7;
}

blockquote cite {
  display: block;
  text-align: right;
  color: #888888;
  font-size: 0.9em;
}
