<Files ~ "^\.(htaccess|htpasswd)$">
deny from all
</Files>
Options -Indexes
ErrorDocument 403 https://error.usay05.com/403
ErrorDocument 404 https://error.usay05.com/404
RewriteEngine on
RewriteCond %{HTTP_HOST} ^(www\.bitlinker\.usay05\.com)(:443)? [NC]
RewriteRule ^(.*) https://bitlinker.usay05.com/$1 [R=301,L]
DirectoryIndex index.php index.html
order deny,allow

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

php_flag display_errors Off
