body {
  text-align: center;
}

p,
a,
li {
  font-family: 'M PLUS 1p', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Yusei Magic', sans-serif;
}

.line {
  position: relative;
  height: 5px;
  border-width: 0;
  background-image: -webkit-linear-gradient(left,
      transparent 0%, #283593 50%, transparent 100%);
  background-image: linear-gradient(90deg,
      transparent 0%, #283593 50%, transparent 100%);
}
