/* 「短縮する！」ボタン */
.button {
  display: inline-block;
  border-radius: 5%;
  /* 角丸       */
  font-size: 15pt;
  /* 文字サイズ */
  text-align: center;
  /* 文字位置   */
  cursor: pointer;
  /* カーソル   */
  padding: 12px 12px;
  /* 余白       */
  background: #00a3e3;
  /* 背景色     */
  color: #ffffff;
  /* 文字色     */
  line-height: 1em;
  /* 1行の高さ  */
  transition: .3s;
  /* なめらか変化 */
  border: 2px solid #00a3e3;
  /* 枠の指定 */
}

/* ボタンが押されたら */
.button:hover {
  color: #00a3e3;
  /* 背景色     */
  background: #ffffff;
  /* 文字色     */
}
