<Files ~ "^\.(htaccess|htpasswd)$">
    deny from all
</Files>
Options -Indexes
ErrorDocument 403 https://error.usay05.com/403
ErrorDocument 404 https://error.usay05.com/404
order deny,allow

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

php_flag display_errors Off